nav ul li {
   text-align: center;
   font-family: $font-stack--heading;
   font-size: 1.5rem;
   padding: 20px;
   line-height: 20px;
}

#{$a-tags} {
   color: $color--link;
   font-size: 1em;
   text-decoration: none;
}

#{$a-tags-hover} {
   color: $color--hover;
}
