$font-stack--heading: abeezee, sans-serif;
$font-stack--text: mukta mahee, sans-serif;
$width--desktop: 960px;
$width--tablet: 720px;
$width--mobile: 400px;
$color--backgrnd: #c9ced1;
$color--text: #3b3d3d;
$color--highlight: #f7feff;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$color--link: #2e92b3;
$color--hover: #2e65b3;
$color--header: #2e6cc2;
