$font-stack--heading: abeezee, sans-serif;
$font-stack--text: mukta mahee, sans-serif;
$width--desktop: 960px;
$width--tablet: 720px;
$width--mobile: 400px;
$color--backgrnd: #c9ced1;
$color--text: #3b3d3d;
$color--highlight: #c6cbcc;
